html,

 * {
	 margin:0px;
	 padding:0px;
 }
body {
  height: auto;
  width: auto;
	margin: 0;
	 background: #369;
}
.logo{
margin: 0 auto;
}

a {
	font-size: 40px;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

#registro{
	font-size: 22px;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49%;
}

.control-label{
	color: #ffffff;
	font-size: 16px;
}

.formulario-control
{
  border: 1px solid #DBE1EB;
  font-size: 18px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  color: #8DC2FF;
  border: 4px solid;
  }

.formulario-control:focus
{
  color: #2E3133;
  border-color: #FBFFAD;
}

.btn {
  background: #70c0f5;
  background-image: -webkit-linear-gradient(top, #70c0f5, #67afdb);
  background-image: -moz-linear-gradient(top, #70c0f5, #67afdb);
  background-image: -ms-linear-gradient(top, #70c0f5, #67afdb);
  background-image: -o-linear-gradient(top, #70c0f5, #67afdb);
  background-image: linear-gradient(to bottom, #70c0f5, #67afdb);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  margin-left:35px;
  margin-top  :15px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/*--------------------------------------------------*/

/*-------------------------------------------------*/

label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
.formulario {
    display:block;
    margin:0 auto;
    width:510px;
    color: #666666;
    font-family:Arial;
}
.form-column {
	/*width: 93%;*/
	background: #2E64FE;
	padding: 10px 30px;
	float: left;
}
.form-column .textbox{
			border: 1px solid #DBE1EB;
			width:60%;

		  font-size: 18px;

		  font-family: Arial, Verdana;

		  padding-left: 7px;

		  padding-right: 7px;

		  padding-top: 10px;

		  padding-bottom: 10px;

		  border-radius: 4px;

		  -moz-border-radius: 4px;

		  -webkit-border-radius: 4px;

		  -o-border-radius: 4px;

		  background: #FFFFFF;

		  background: linear-gradient(left, #FFFFFF, #F7F9FA);

		  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);

		  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);

		  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);

		  color: #2E3133;

}
form {
    
	
    width:auto;
	border:1px;
	border-radius:3px;
	margin-left: 300px;
}
 
/*textarea {
    width:180px;
    height:27px;
    background:#666666;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
}*/
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

/****************************************/
.form-registro {
	position: relative;
	
}


.divForm{
	
	margin-top:10px;
}

.form-login {
	margin:auto;
	margin-top:70px;
	max-width: 100%;
	background-color: #369;
	text-align: center;
}

.form-login label {
	display: block;
	padding: 40px 5px 5px 2px;
	font-size: 18px;
	letter-spacing: 1px;
	color: #fff;

	cursor: pointer;
}



.form-login input,
.form-login textarea {
	border: 4px solid #0ca2d2;
	background: #fff;
}

.form-login textarea {
	min-height: 200px;
}


.form-registro:before, 
.form-registro:after { 
	content: " "; display: table; 
}

.form-registro:after { 
	clear: both; 
}





.form-registro label {
	display: block;
	padding: 40px 5px 5px 2px;
	font-size: 18px;
	letter-spacing: 1px;
	cursor: pointer;
	color: #fff;
}

 .form-registro select {
    width: 130%;
    border: 2px #fff;
	line-height: 1.5;
	font-size: 1.4em;
	padding: 5px 10px;
	color: #000;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
  }

.form-registro input,
.form-registro textarea {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 1.5;
	font-size: 1.4em;
	padding: 5px 10px;
	color: #fff;
	display: block;
	width: 100%;
	background: transparent;
}

.form-registro input,
.form-registro select,
.form-registro textarea {
	border: 3px solid #fff;
}

.form-registro textarea {
	min-height: 200px;
}

.form-registro input:focus,
.form-registro textarea:focus,
.form-registro label:active + input,
.form-registro label:active + textarea {
	outline: none;
	border: 3px solid #10689a;
}

.form-registro select:focus {
	outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #10689a;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #10689a;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #10689a;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #10689a;
    font-style: italic;
}

.cbp-mc-submit-wrap {
	text-align: center;
	padding-top: 40px;
	clear: both;
}

.form-registro input.boton-enviar {
	background: #10689a;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
}

.form-registro input.boton-enviar:hover {
	background: #1478b1;
}

@media screen and (max-width: 70em) {
	.cbp-mc-column {
		width: 50%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
}

@media screen and (max-width: 48em) {
	.cbp-mc-column {
		width: 100%;
		padding: 10px;
	}
}
